config UKMD_ENABLE
	bool "UKMD driver support"
	default n
	help
	  This feature driver supports ukmd driver.

config DACC_LOG_KMD
	bool "dacc log support"
	default n
	help
	  This feature driver supports dacc log function.

source "drivers/video/fbdev/ukmd/cmdlist/Kconfig"
source "drivers/video/fbdev/ukmd/uksm/Kconfig"
