config CONTEXTHUB_IGS
	bool "intelligent gesture sensor driver"
	depends on INPUTHUB_20
	default n
	help
	Igs driver support aonn.

config CONTEXTHUB_IGS_DBG
	bool "intelligent gesture sensor dbg drvier"
	depends on INPUTHUB_20
	default n
	help
	Igs debug drvier support aonn.

config CONTEXTHUB_IGS_20
	bool "intelligent gesture sensor 2.0"
	default n
	help
	  intelligent gesture sensor 2.0 config

config CONTEXTHUB_IGS_30
	bool "intelligent gesture sensor 3.0"
	default n
	help
	  intelligent gesture sensor 3.0 config

config CONTEXTHUB_IGS_TOF
	bool "intelligent gesture sensor tof"
	default n
	help
	Igs tof driver
config CONTEXTHUB_IGS_DBG_50
	bool "intelligent gesture sensor dbg for cpro"
	default n
	help
	Igs driver support aonn.
config CONTEXTHUB_IGS_TQM_SUPPORT_6_OUTPUT
	bool "intelligent gesture sensor tqm support 6 output"
	default n
	help
	Igs tqm driver support 6 output.
