config NET_VENDOR_HISI_HIXGEMAC
        bool "Hisilicon XGE MAC"
        help
          If you have a Hisilicon xGE MAC, say Y.

config NET_VENDOR_HIXGEMAC_GPTP
        bool "Hisilicon XGE MAC GPTP"
        help
          If gptp is supportted, say Y.

config NET_VENDOR_HIXGEMAC_10CC
        bool "Hisilicon XGE PMA 10CC"
        help
          If XGE uses the 10CC PMA, say Y.
