menu "audio Kernel Configuration"

menuconfig SND_SOC_PLATFORM
	bool "Enable ASoC platform drivers"
	depends on SND_SOC
	default y
	help
	Say yes here to support ASoC platform drivers

if SND_SOC_PLATFORM
source "platform_source/audio/sound/Kconfig"
endif

source "platform_source/audio/drivers/Kconfig"

endmenu
