config CONTEXTHUB_IGS_CAM
	bool "igs cam driver"
	depends on INPUTHUB_20&&KERNEL_CAMERA
	default n
	help
	Igs driver support camera.

config CONTEXTHUB_IGS_CAM_20
	bool "igs cam_20 driver"
	depends on INPUTHUB_20&&KERNEL_CAMERA
	default n
	help
	Igs driver support camera.