menu "Modem Drivers"

source "drivers/platform_drivers/modem/drv/ipc/Kconfig"
source "drivers/platform_drivers/modem/drv/sec_call/Kconfig"
source "drivers/platform_drivers/modem/drv/timer/Kconfig"
source "drivers/platform_drivers/modem/drv/reset/Kconfig"
source "drivers/platform_drivers/modem/drv/sec_nvim/Kconfig"
source "drivers/platform_drivers/modem/drv/onoff/Kconfig"
source "drivers/platform_drivers/modem/drv/efuse/Kconfig"
source "drivers/platform_drivers/modem/drv/udi/Kconfig"
source "drivers/platform_drivers/modem/drv/sysctrl/Kconfig"
source "drivers/platform_drivers/modem/drv/pfa/Kconfig"
source "drivers/platform_drivers/modem/drv/c_pm_stress/Kconfig"
source "drivers/platform_drivers/modem/drv/mdmpm_debug/Kconfig"
source "drivers/platform_drivers/modem/drv/pmu/Kconfig"
source "drivers/platform_drivers/modem/drv/sim_hotplug/Kconfig"
source "drivers/platform_drivers/modem/drv/vbat/Kconfig"
source "drivers/platform_drivers/modem/drv/msocket/Kconfig"
source "drivers/platform_drivers/modem/drv/sysview/Kconfig"
source "drivers/platform_drivers/modem/drv/omserver/mprobe/Kconfig"
source "drivers/platform_drivers/modem/drv/vdev/Kconfig"
endmenu
