# SPDX-License-Identifier: GPL-2.0
#
# huawei power event drivers
#

config HUAWEI_POWER_EXTRA_EVENT
	tristate "huawei power extra event"
	default n
	help
	  Say Y here to enable power extra event driver.
	  Say M here to compile the driver as a module.