config AKMD_ENABLE
	bool "AKMD driver support"
	default n
	help
	  This feature driver supports akmd driver.

config AKMD_AAE_VERSION
	int "AKMD AAE version"
	depends on AKMD_ENABLE
	help
	  This driver supports AAE version

config AKMD_AAE_RES_MGR
	bool "AKMD aae resource manager"
	default n
	help
	  This feature supports aae resource manager

config AKMD_AAE_DEVICE
	bool "AKMD aae device"
	default n
	help
	  This feature supports aae device

config AKMD_AAE_OHOS
	bool "akmd aae ohos adapter feature switch"
	default n
	help
	  ohos adapter features be opened by setting y

source "drivers/video/fbdev/akmd/aksm/Kconfig"