config MMC_BLOCK_DEFERRED_RESUME
	bool "Deferr MMC layer resume until I/O is requested"
	depends on MMC_BLOCK
	default n
	help
	  Say Y here to enable deferred MMC resume until I/O
	  is requested. This will reduce overall resume latency and
	  save power when theres an SD card inserted but not being used.

config MMC_CRYPTO
	bool "MMC Crypto Engine Support"
	depends on BLK_INLINE_ENCRYPTION
	help
	  Enable Crypto Engine Support in MMC.
	  Enabling this makes it possible for the kernel to use the crypto
	  capabilities of the MMC device (if present) to perform crypto
	  operations on data being transferred to/from the device.

config MMC_FFU
	bool "FFU SUPPORT"
	depends on MMC != n
	help
	  This is an option to run firmware update on eMMC 5.0.
	  Field firmware updates (FFU) enables features enhancment
	  in the field.

config HW_SD_HEALTH_DETECT
	bool "SD HEALTH DIAG SUPPORT"
	default y
	help
	  This is an option to diag sd health status.

config MMC_PASSWORDS
	bool "MMC card lock/unlock passwords (EXPERIMENTAL)"
	select KEYS
	default y
	help
	  Say Y here to enable the use of passwords to lock and unlock
	  MMC cards.  This uses the access key retention support, using
	  request_key to look up the key associated with each card.
	  For example, if you have an MMC card that was locked using
	  Symbian OS on your cell phone, you won't be able to read it
	  on Linux without this support.
