# SPDX-License-Identifier: GPL-2.0-only
#
# HID driver configuration
#

config HID_VR
	tristate "VR device support"
	depends on USB_HID
	help
	  Support for VR devices.
	  Say Y here if you have a VR device.

config HID_HUAWEI
	tristate "HUAWEI TypeC Headset"
	depends on HID
	help
	  Support for Huawei TypeC headset.
